@import "colors";

   .button--order__arrow{
  width: 11.45px;
  height: 6px;
  border-top: 2px solid black;
  border-right: 2px solid black;
  transform: rotate(90deg);
  position:absolute;
  top: 1598.49px;
  left: 127.4px;
  background-color:black;
}

